@charset "UTF-8"
/* ******************************************
  Configurações do Sobre
  ******************************************
  */@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');

@font-face {
  font-family: 'Digitalt';
  src: url(/fonts/Digitalt.ttf) format('truetype'), 
      url(/fonts/Digitalt.otf) format('opentype');
}
@font-face {
  font-family:'torquality';
  src: url(/fonts/Anybody-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}
*{
  margin: 0px;
  padding: 0px;
}
:root{
  /* Paleta de Cores do Site */
  --cor00:#D1AA1D;
  --cor01:#6774eb;
  --cor02:#1d2fd1;
  --cor03:#16249e;
  --cor04:#181d52;
  --cor05:#0b1252;
  --cor07:black;
  --cor08: #ceccb7;

  /* Fontes do Projeto */
  --font-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: 'Digitalt', cursive;
  --font-torquality: 'torquality', cursive;
}
body{
  background-color: var(--cor01);
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-image: linear-gradient(var(--cor01),var(--cor05)) ;
  text-align: center;
  padding: 25px;
  padding-bottom: 20px;
  min-height: 90px;

}
header h1{
  font-family: var(--font-torquality);
  color:var(--cor08);
  margin: auto;
  font-size: 3em;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.61);
  padding-bottom: 20px;
}
header p{
  font-family: var(--font-torquality);
  font-size: 1.2em;
  color:var(--cor00);
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.623);
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  padding-bottom: 10px;
}
main{
  background-color: white;
  text-align: justify;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
}
main h2{
  background-image: linear-gradient(to right, var(--cor05),white);
  color: var(--cor08);
  text-indent: 30px;
}
main article p{
  padding: 10px;
  margin: 10px
}
footer{
  background-color: var(--cor05);
  padding: 10px;
  color: var(--cor08);
  text-align:right;
  margin: 30px 0px 5px 0px;
}


  