@charset 'UTF-8';
/* Folha de Estilos da TorQuality Consultoria */

/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');

@font-face {
  font-family: 'Digitalt';
  src: url(/fonts/Digitalt.ttf) format('truetype'), 
  url(/fonts/Digitalt.otf) format('opentype');
}
@font-face {
  font-family:'torquality';
  src: url(/fonts/Anybody-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  height: 100vh;
}

/* Definição das Variáveis de Confuguração */

:root{
  /* Paleta de Cores do Site */
  --cor00:#D1AA1D;
  --cor01:#6774eb;
  --cor02:#1d2fd1;
  --cor03:#16249e;
  --cor04:#181d52;
  --cor05:#0b1252;
  --cor07:black;
  --cor08: #ceccb7;
  --fuschia: #ff0043;
  
  
  /* Fontes do Projeto */
  --font-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: 'Digitalt', cursive;
  --font-torquality: 'torquality', cursive;
}

body{
  background-color: var(--cor01);
  font-family: Arial, Helvetica, sans-serif;
}
body > h1{
  margin: auto;
  padding: 10px;
}
header{
  background-image: linear-gradient(var(--cor01),var(--cor05)) ;
  text-align: center;
  padding: 25px;
  min-height: 90px;
}

header h1{
  font-family: var(--font-torquality);
  color:var(--cor08);
  margin: auto;
  font-size: 3em;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.61);
  padding-bottom: 20px;
}

header p{
  font-family: var(--font-torquality);
  font-size: 1.2em;
  color:var(--cor01);
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.623);
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  padding-bottom: 10px;
}
i#burguer{
  background-color: var(--cor05);
  color: var(--cor08);
  display: block;
  text-align: center;
  padding: 10px;
}

i#burguer:hover{
  background-color: var(--cor01);
  color: var(--cor00);
}
nav#menu {
  background-color: var(--cor05);
  color: var(--cor00);
  padding: 10px;
  margin: 0px 0px 20px 0px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301); 
  display: none;
}

nav#menu a{
  color: var(--cor00);
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: block;
}

nav#menu a:hover{
  background-color: var(--cor01);
  color: var(--cor04);
  border-radius: 5px;
}

main p{
  font-size: 1em;
  text-align: justify;
}
section h1{
  background-image: linear-gradient(to right, var(--cor05), white);
  color: var(--cor00);
  padding: 10px;
}
section h2{
  color: var(--cor02);
  text-indent: 30px;
  padding: 5px;
}

section p{
  padding: 5px;
  margin: 5px
}

section {
  background-color: lightgray;
  text-align: justify;
  max-width: 90vw;
  min-width: 100vh;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px 0px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.76);
}

section#registros >ol >li{
  margin-left: 25px;
  padding: 5px;
  font-size:larger;
}
footer a{
  display:inline-block;
  background-color: gray;
  padding: 10px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 3px black;
  color: lightgray;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 5px black;
}

footer p{
  display: inline-block;
  width: 85vw;
  margin-left: 2vw;
  padding: 1vw;
  position: absolute;
  text-align: right;
  border: 1px solid lightgrey;
  color: var(--cor08);
}

.tc176{
  margin: 10px;
}

.tc176 a{
  display:block;
  margin-bottom: 30px;
}

.tc176 iframe{
  width: 500px;
  height: 600px;
  scroll-margin: auto;
  border: 1px solid #000;
}

.tc207 a{
  display:block;
}

.tc207 iframe{
  width: 500px;
  height: 600px;
  scroll-margin: auto;
  border: 1px solid #000;
}

ol > li {
  text-align: justify;
  margin-left: 40px;
}

ul >li {
    margin-left: 40px;
}
section.requisitos {
  background-color: lightgray;
  text-align: justify;
  max-width: 80vw;
  min-width: 100vh;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px 0px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.76);
}
table#Forms{
  width: 700px;
  border-collapse: collapse;
  margin: auto;
  box-shadow: 2px 2px 5px black;
  position: relative;
}

thead>tr>th{
  background-color: var(--cor00);
}

tbody>tr:nth-child(even){
  background-color: var(--cor08);
    ;
}
th, tr, td {
  border: 1px solid gray;
  padding: 5px;
}
td.Item{
  text-align: center;
}

